body{
	background-color: #F0F0F0;
}
#wrapper {
width: 90%;
background-color: #FFF;
margin-left:auto;
margin-right:auto;
}
#header-shadow{
	background-color: #E2E2E2;
	opacity: 0.4;
    filter: alpha(opacity=40);
    height: 200px;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 0;
}
#container{
	background-color:#ffffff;
	margin: 20px;
}
#header {
	height: 160px;
	z-index: 1;
    position: relative;
    padding: 20px 0 0 20px;
}
.header-title{
	font-size: 2em;
	font-weight: bold;
}
#footer {
    clear:both;
    text-align:center;
}

#section { 
   width:100%;
   margin:0 auto;
}
#left_col {
   float:left;
   width:32%;
   padding: 2%;
}
#right_col {
    float: right;
    width: 48%;
    border-left: 10px solid #F0F0F0;
    min-height: 450px;
    padding: 2%;
}
#tasks-form { box-sizing: border-box; }
 
#tasks-form .txtinput { 
  display: block;
  border-style: solid;
  border-width: 1px;
  border-color: #dedede;
  margin-bottom: 20px;
  font-size: 1.55em;
  width: 90%;
  color: #777;
  margin: 5px;
  background-color: #F0F0F0;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1) inset;
  -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1) inset;
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1) inset; 
}

#tasks-form .inputlable { 
  display: block;
  font-size: 1em;
  padding: 5px;
}
.submit_div{
	padding: 5px;
}
.btn {
  display: block;
  height: 3em;
  padding: 0 1em;
  border: 1px solid;
  font-weight: bold;
  font-size: 1em;
  color: #fff;
  cursor: pointer;
   
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
   
  border-color: #5e890a #5e890a #000;
  -moz-box-shadow: inset 0 1px 0 #434343;
  -ms-box-shadow: inset 0 1px 0 #434343;
  -webkit-box-shadow: inset 0 1px 0 #434343;
  box-shadow: inset 0 1px 0 rgba(256,256,256, .35);
  background-color: #434343;
  
}

.table
{
    display: table;
    border: 2px solid #F0F0F0;
    border-radius: 5px;
    background-color: #fff;
    padding: 7px;
    width: 80%
}
.row_odd
{
    display: table-row;
}
.row_even
{
    display: table-row;
    background-color: #F0F0F0;
}
.cell
{
    display: table-cell;
    padding-left: 5px;
    padding-right: 5px;
}